<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>Converter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<ion-card>
    <ion-item lines="none" >
      <ion-label [innerHtml]="kmToMiles ? 'km/h -> Mph' : 'Mph -> km/h'"></ion-label>
        <ion-input [(ngModel)]="inputValue" type="number" clearInput="true" (keyup)="updateVal()"></ion-input>
    </ion-item>
</ion-card>

<ion-button (click)="switch()" class="switchButton">
  Inverser
</ion-button>

<ion-button (click)="convert()" expand="block" class="convertButton">
  Convertir
</ion-button>

<ion-label class= "resultat">
  <ion-item lines="none" expand="block" [class.source-empty]="checkIsNan()">
    <ion-label>{{solution}}</ion-label>
  </ion-item>
</ion-label>

</ion-content>
