<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>Converter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class= "flex">
  <ion-card>
    <ion-item lines="none" >
      <ion-label> km/h : </ion-label>
        <ion-input [(ngModel)]="inputKilometers" id="inputKmh" type="number"></ion-input>
    </ion-item>
</ion-card>

<ion-card>
  <ion-item lines="none" >
    <ion-label> Mph : </ion-label>
      <ion-input [(ngModel)]="inputMiles" id="inputMph" type="number"></ion-input>
  </ion-item>
</ion-card>

<ion-button (click)="switch()" class="switchButton">
  Inverser
</ion-button>
</div>

<ion-button (click)="convert()" expand="block" class="convertButton">
  Convertir
</ion-button>

<ion-label class= "resultat">
  <ion-item lines="none" expand="block">
    <ion-label>{{solution}}</ion-label>
  </ion-item>
</ion-label>

</ion-content>
