ion-content {
  --background: lightgray;
}
h1 {
  color: black;
  font-size: 30px;
}
h5 { // date
  color: #443f3f;
  font-size: medium;
  margin-bottom: 15px;
  text-transform: capitalize;
} 

ion-card {
  margin: 0;
  margin-bottom: 10px;
}

ion-footer {
  background: var(--ion-color-primary);

  .add-button {
    --background: #0080ff;
    --color: #ffffff;
  }
}